* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
@media screen and (max-width: 960px) {
  #page {
    width: auto; } }

.no-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 100%; }
  .no-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-second #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 74.6988%; }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 74.54545%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-first #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 83.13253%;
  margin-left: 16.86747%; }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 61.81818%;
      margin-left: 25.45455%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
.two-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 57.83133%;
  margin-left: 16.86747%; }
  .two-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 49.09091%;
      margin-left: 25.45455%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }

#sidebar-first {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 15.66265%;
  margin-left: -75.90361%; }
  #sidebar-first:last-child {
    margin-right: 0; }
  .sidebar-first #sidebar-first {
    margin-left: -101.20482%; }
  @media screen and (max-width: 768px) {
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 23.63636%;
      margin-left: -76.36364%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: -89.09091%; } }
  @media screen and (max-width: 480px) {
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: 0%; } }

#sidebar-second {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 24.09639%;
  margin-left: 0%; }
  #sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 23.63636%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }

#footer {
  float: none;
  clear: both; }

/* Layout Helpers */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
.inner {
  padding: 0; }

/* Navigation styles */
#navigation li {
  list-style-type: none;
  display: inline-block; }
