* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
@media screen and (max-width: 960px) {
  #page {
    width: auto; } }

.no-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 100%; }
  .no-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .no-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%; }
      .no-sidebars #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-second #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 74.6988%; }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 74.54545%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-second #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%; }
      .one-sidebar.sidebar-second #content:last-child {
        margin-right: 0; } }
.one-sidebar.sidebar-first #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 83.13253%;
  margin-left: 16.86747%; }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 61.81818%;
      margin-left: 25.45455%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .one-sidebar.sidebar-first #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      .one-sidebar.sidebar-first #content:last-child {
        margin-right: 0; } }
.two-sidebars #content {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 57.83133%;
  margin-left: 16.86747%; }
  .two-sidebars #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 49.09091%;
      margin-left: 25.45455%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .two-sidebars #content {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      .two-sidebars #content:last-child {
        margin-right: 0; } }

#sidebar-first {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 15.66265%;
  margin-left: -75.90361%; }
  #sidebar-first:last-child {
    margin-right: 0; }
  .sidebar-first #sidebar-first {
    margin-left: -101.20482%; }
  @media screen and (max-width: 768px) {
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 23.63636%;
      margin-left: -76.36364%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: -89.09091%; } }
  @media screen and (max-width: 480px) {
    #sidebar-first {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-first:last-child {
        margin-right: 0; }
      .sidebar-first #sidebar-first {
        margin-left: 0%; } }

#sidebar-second {
  float: left;
  display: block;
  margin-right: 1.20482%;
  width: 24.09639%;
  margin-left: 0%; }
  #sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 1.81818%;
      width: 23.63636%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    #sidebar-second {
      float: left;
      display: block;
      margin-right: 3.7037%;
      width: 100%;
      margin-left: 0%; }
      #sidebar-second:last-child {
        margin-right: 0; } }

#footer {
  float: none;
  clear: both; }

/* Layout Helpers */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both; }

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
.inner {
  padding: 0; }

/* Navigation styles */
#navigation li {
  list-style-type: none;
  display: inline-block; }
