// Page des Collections
body
{
	//Liste des collections & expositions
	&.page-collections,
	&.page-expositions
	{
		h1#page-title,
		h2.pane-title
		{
			display: none;
		}

		div.view-content
		{
			@include outer-container;

			div.views-row
			{
				text-align: center;
				position: relative;
				margin: em(5) 0;

				&.views-row-first
				{
					margin-top: em(50);
				}

				article
				{
					position: absolute;
					color: $white;
					z-index: 1;
					@include fill-parent();

					h1,
					h2,
					p.date
					{
						font-family: "montserrat";
						text-transform: uppercase;
						letter-spacing: em(2);
					}

					h1
					{
						font-size: em(14);
						margin-top: em(60);
						padding: 0;
					}

					h2
					{
						font-size: em(24);
						margin: em(5);					
					}

					p
					{
						
						@include span-columns(10 of 12);
						margin: 0 auto;
						float: none;
						margin-top: em(20);

						&.date
						{
							color: $gray;
							margin-top: 0;
						}
					}

					p,
					a
					{
						font-family: 'Gentium Book Basic', serif;
						font-size: em(14);
					}

					a
					{
						display: inline-block;
						padding: em(10) em(25);
						background-color: white;
						color: black;
						font-weight: bold;
						@include transition (all $speed ease-in-out);
						margin-top: em(30);
					}

					h1,
					h2,
					p,
					a
					{
						line-height: 1.6;
					}
				}

				div.field-content
				{	
					line-height: 0;
					background-color: black;
					img
					{
						opacity: .7;
						@include transition (all $speed ease-in-out);
						position: relative;
					}
				}

				&:hover
				{
					a
					{
						text-decoration: none;
						background-color: $gold;
						color: $white;						
					}
					div.field-content
					{
						img
						{
							opacity: .2;
						}						
					}

				}				
			}

		}
	}
	
	//Page d'une collection
	&.page-taxonomy-term
	{
		h1#page-title
		{
			display: none;
		}
		div.content
		{	
			@include outer-container();

			div.group-header
			{
				@include outer-container();

				div.head
				{
					@include span-columns(5);
					@include omega();

					a
					{
						background-color: black;
						color: $white;
						font-family: 'Gentium Book Basic';
						font-size: em(14);
						padding: em(10) em(20);
						@include transition(all $speed ease-in-out);

						&:before
						{
							content: "< "
						}

						&:hover
						{
							background-color: $gold;
							text-decoration: none;
						}
					}
					
					div.heading
					{
						background-color: black;
						color: $white;
						@include pad(em(20) em(30)); 
						margin-top: em(10);

						h2,
						p.date,
						h3
						{
							margin: 0;
							font-family: 'montserrat';
							text-transform: uppercase;
						}

						h2,
						p.date					
						{
							font-size: em(14);
						}

						h3
						{
							@include span-columns(3 of 5);
							float: none;
							font-size: em(24);
							font-weight: bold;
						}	
					}

				}
			}

			div.group-left
			{
				@include span-columns(5);
				@include omega();

				div.views-field-description
				{
					@include pad(em(50) em(30));
					text-transform: uppercase;
					color: black;
					background-color: $white;
					font-size: em(14);
					font-weight: bold;
					margin: em(60) 0 em(30);
				}

				div.infos
				{
					@include pad(em(30));
					background-color: black;
					color: $white;

					h2
					{
						font-family: 'montserrat';
						font-weight: bold;
						font-size: em(14);
						text-transform: uppercase;
						margin: 0;
					}

					h3
					{
						font-family: 'Gentium Book: Basic';
						font-weight: bold;
						font-size: em(14);
						text-transform: uppercase;
						margin: 30px 0 0;
					}

					p
					{
						color: $light-gray;
						font-family: 'Gentium Book Basic';
						font-size: em(14);
					}
				}
			}

			div.group-right
			{
				@include span-columns(7, block-collapse);
				@include omega();
				background-color: $white;
				color: black;

				div.views-field-field_contenu
				{
					color: transparentize(black, 0.25);
					font-family: 'Gentium Book Basic';
					font-size: em(14);
					@include pad(em(30));
				}
			}
		}
	}
}