// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// If you wish to use the SCSS syntax, please use this.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import "_config.sass";

//Import Pages specific styles
@import "pages/home";
@import "pages/page";
@import "pages/oeuvres";
@import "pages/activites";
@import "pages/portail";

//General styles
//Fonts
@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-regular-webfont.eot');
    src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular-webfont.woff') format('woff'),
         url('../font/montserrat-regular-webfont.ttf') format('truetype'),
         url('../font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-bold-webfont.eot');
    src: url('../font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-bold-webfont.woff') format('woff'),
         url('../font/montserrat-bold-webfont.ttf') format('truetype'),
         url('../font/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

//Styles
body, html
{
	height: 100%;
}
body
{
	border: $body_m $body_m_c solid;
	@include box-sizing(border-box);
	background-color: $body_bgc;
	
	.container
	{
		@include outer-container;
		margin-left: auto;
		margin-right: auto;
		width: $max-width;
	}	
	
	header
	{
		line-height: em($menu_h);
		height: em($menu_h);
		background-color: black;

		#logo
		{
			@include span-columns(3);
		}

		nav#navigation
		{
			background: none;
			@include span-columns(9);

			ul#primary,
			a#search_btn
			{
				float: right;
				padding-left: em(20);

				svg
				{
					fill: transparentize($white, 0.25);
					@include transition (all $speed ease-in-out);
					height: em($menu_fs);
					width: em($menu_fs);
				}

				&:hover
				{
					svg
					{
						fill: $white;
					}
				}
			}

			ul#primary
			{
				li
				{
					padding: 0 10px;

					a
					{
						color: transparentize($white, 0.25);
						@include transition (all $speed ease-in-out);
						font-size: em($menu_fs);
						font-family: 'montserrat';
						font-weight: normal;

						&.active
						{
							color: $white;
						}
					}

					&:hover
					{
						a
						{
							color: $white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

}