// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// If you wish to use the SCSS syntax, please use this.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import "_config.sass";

//Import Pages specific styles
@import "pages/_home.scss";
@import "pages/_page.scss";
@import "pages/_oeuvres.scss";
@import "pages/_activites.scss";
@import "pages/_collections.scss";
@import "pages/_votrevisite.scss";

//General styles
//Fonts
@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-regular-webfont.eot');
    src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular-webfont.woff') format('woff'),
         url('../font/montserrat-regular-webfont.ttf') format('truetype'),
         url('../font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../font/montserrat-bold-webfont.eot');
    src: url('../font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-bold-webfont.woff') format('woff'),
         url('../font/montserrat-bold-webfont.ttf') format('truetype'),
         url('../font/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

//Styles
html
{
	min-height: 100%;
	border: $body_m $body_m_c solid;
}
*
{
	@include box-sizing(border-box);
	@include backface-visibility(hidden);
}
body
{
	background-color: $body_bgc;
	
	.container
	{
		@include outer-container;
		margin-left: auto;
		margin-right: auto;
		width: $max-width;
		position: relative;
	}	
	
	div#header
	{
		margin-top: 0;
		@include transition (all $speed*1.5 ease-in-out);

		div#block-search-form
		{
			position: absolute;
			top: -60px;
			right: 0;
			height: 0;
			overflow: hidden;
			@include outer-container;
			width: $max-width;
			@include transition (all $speed*1.5 ease-in-out);

			div.content
			{
				width: 80%;
				margin: 0 auto;

				input
				{
					line-height: 30px;
					height: 40px;
					margin: 0;
					padding: 5px 10px;
					margin-top: 10px;
					@include transition (all $speed ease-in-out);

					&.form-text
					{
						@include span-columns(10 of 12);
						border: 1px solid $white;
						background-color: $white;

						&:focus
						{
							outline: 0;
							border: 1px solid $dark_gray;
							border-right: 0;
						}
					}
					&.form-submit
					{
						@include span-columns(2 of 12);
						border: 1px solid $dark_gray;
						background-color: $dark_gray;
						color: $white;
						text-transform: uppercase;
						font-family: "montserrat";
						@include transition (all $speed ease-in-out);

						&:hover
						{
							cursor: pointer;
							border: 1px solid $gold;
							background-color: $gold;
						}

						&:focus
						{
							outline: 0;
						}
					}
				}
			}
		}

		line-height: em($menu_h);
		height: em($menu_h);
		background-color: black;

		#logo
		{
			@include span-columns(3);
			height: em($menu_h);
		}

		div#main-menu
		{
			background: none;
			@include span-columns(9);

			a#search_btn,
			a#close_btn
			{
				position: absolute;
				right: 0;
				color: transparentize($white, 0.25);
				@include transition (all $speed ease-in-out);
				opacity: 1;
				z-index: 1;

				svg
				{
					fill: transparentize($white, 0.25);
					@include transition (all $speed ease-in-out);
					height: em($menu_fs);
					width: em($menu_fs);
				}

				&:hover
				{
					color: $white;
					text-decoration: none;

					svg
					{
						fill: $white;
					}
				}

				&.hide
				{
					opacity: 0;
					display: none;
				}
			}

			ul#main-menu-links
			{
				list-style: none;
				margin: 0;
				float: right;

				li
				{
					padding: 0 10px;
					display: inline-block;

					a
					{
						color: transparentize($white, 0.25);
						@include transition (all $speed ease-in-out);
						font-size: em($menu_fs);
						font-family: 'montserrat';
						font-weight: normal;

						&.active
						{
							color: $white;
						}
					}

					&:hover
					{
						a
						{
							color: $white;
							text-decoration: none;
						}
					}

					&.last
					{
						margin-right: 30px;
					}
				}
			}
		}
	}

	#breadcrumb
	{
		height: em(50);
		background-color: $dark_gray;

		div.breadcrumb
		{

			@include outer-container;

			a
			{
				line-height: em(50);
				color: $white;
			}		
		}
	}


	#footer-wrapper {
		background: $dark_gray;
		color: $white;

		#footer-columns { @include outer-container; }

		.region-footer-firstcolumn {
			@include span-columns(6);
			h2 { display: none; }

			ul {
				li {
					list-style: none;
					margin-bottom: 20px;
				}

			}
		}
		.region-footer-secondcolumn {

			@include span-columns(6);
			background: $darker_gray;
			padding: 20px;

			h2
			{
				display: none;
			}

			p {
				&:first-of-type
				{
					margin-top: 0;
					text-transform: uppercase;
					font-size: 1.1em;
					font-weight: 300;
					font-family: montserrat, sans-serif;
					letter-spacing: .15em;
					width: 55%;
					color: $white;
				}

				font-family: 'Gentium Book Basic', serif;
				color: $gray;
				margin-bottom: 40px;

				a {
					display: block;
					margin-bottom: 20px;
					color: $white;
					font-family: montserrat, sans-serif;
				}
			}
		}

		a, a:hover, a:active {color: inherit;}
	}


}