/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

/* Region Colors. delete when starting a new theme. */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 7.22892%, rgba(0, 0, 0, 0) 7.22892%, rgba(0, 0, 0, 0) 8.43373%, red 8.43373%, red 15.66265%, rgba(0, 0, 0, 0) 15.66265%, rgba(0, 0, 0, 0) 16.86747%, red 16.86747%, red 24.09639%, rgba(0, 0, 0, 0) 24.09639%, rgba(0, 0, 0, 0) 25.3012%, red 25.3012%, red 32.53012%, rgba(0, 0, 0, 0) 32.53012%, rgba(0, 0, 0, 0) 33.73494%, red 33.73494%, red 40.96386%, rgba(0, 0, 0, 0) 40.96386%, rgba(0, 0, 0, 0) 42.16867%, red 42.16867%, red 49.39759%, rgba(0, 0, 0, 0) 49.39759%, rgba(0, 0, 0, 0) 50.60241%, red 50.60241%, red 57.83133%, rgba(0, 0, 0, 0) 57.83133%, rgba(0, 0, 0, 0) 59.03614%, red 59.03614%, red 66.26506%, rgba(0, 0, 0, 0) 66.26506%, rgba(0, 0, 0, 0) 67.46988%, red 67.46988%, red 74.6988%, rgba(0, 0, 0, 0) 74.6988%, rgba(0, 0, 0, 0) 75.90361%, red 75.90361%, red 83.13253%, rgba(0, 0, 0, 0) 83.13253%, rgba(0, 0, 0, 0) 84.33735%, red 84.33735%, red 91.56627%, rgba(0, 0, 0, 0) 91.56627%, rgba(0, 0, 0, 0) 92.77108%, red 92.77108%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, red 25.92593%, red 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, red 51.85185%, red 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, red 77.77778%, red 100%, rgba(0, 0, 0, 0) 100%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%));
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, red 0, red 10.90909%, rgba(0, 0, 0, 0) 10.90909%, rgba(0, 0, 0, 0) 12.72727%, red 12.72727%, red 23.63636%, rgba(0, 0, 0, 0) 23.63636%, rgba(0, 0, 0, 0) 25.45455%, red 25.45455%, red 36.36364%, rgba(0, 0, 0, 0) 36.36364%, rgba(0, 0, 0, 0) 38.18182%, red 38.18182%, red 49.09091%, rgba(0, 0, 0, 0) 49.09091%, rgba(0, 0, 0, 0) 50.90909%, red 50.90909%, red 61.81818%, rgba(0, 0, 0, 0) 61.81818%, rgba(0, 0, 0, 0) 63.63636%, red 63.63636%, red 74.54545%, rgba(0, 0, 0, 0) 74.54545%, rgba(0, 0, 0, 0) 76.36364%, red 76.36364%, red 87.27273%, rgba(0, 0, 0, 0) 87.27273%, rgba(0, 0, 0, 0) 89.09091%, red 89.09091%, red 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat-regular-webfont.eot");
  src: url("../font/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-regular-webfont.woff") format("woff"), url("../font/montserrat-regular-webfont.ttf") format("truetype"), url("../font/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../font/montserrat-bold-webfont.eot");
  src: url("../font/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-bold-webfont.woff") format("woff"), url("../font/montserrat-bold-webfont.ttf") format("truetype"), url("../font/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: bold;
  font-style: normal; }

body, html {
  height: 100%; }

body {
  border: 10px #fefefe solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f1f2f2; }
  body .container {
    *zoom: 1;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 960px; }
    body .container:before, body .container:after {
      content: " ";
      display: table; }
    body .container:after {
      clear: both; }
  body header {
    line-height: 4.625em;
    height: 4.625em;
    background-color: black; }
    body header #logo {
      display: block;
      float: left;
      margin-right: 1.20482%;
      width: 24.09639%; }
      body header #logo:last-child {
        margin-right: 0; }
    body header nav#navigation {
      background: none;
      display: block;
      float: left;
      margin-right: 1.20482%;
      width: 74.6988%; }
      body header nav#navigation:last-child {
        margin-right: 0; }
      body header nav#navigation ul#primary,
      body header nav#navigation a#search_btn {
        float: right;
        padding-left: 1.25em; }
        body header nav#navigation ul#primary svg,
        body header nav#navigation a#search_btn svg {
          fill: rgba(254, 254, 254, 0.75);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          height: 0.875em;
          width: 0.875em; }
        body header nav#navigation ul#primary:hover svg,
        body header nav#navigation a#search_btn:hover svg {
          fill: #fefefe; }
      body header nav#navigation ul#primary li {
        padding: 0 10px; }
        body header nav#navigation ul#primary li a {
          color: rgba(254, 254, 254, 0.75);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          font-size: 0.875em;
          font-family: 'montserrat';
          font-weight: normal; }
          body header nav#navigation ul#primary li a.active {
            color: #fefefe; }
        body header nav#navigation ul#primary li:hover a {
          color: #fefefe;
          text-decoration: none; }
